<h1> Create Comment </h1>

<%= form_for @comment do |f| %>
<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>
<%= f.hidden_field :commentable_type, value: Post %>
<%= f.hidden_field :commentable_id, value: @post_id%>
<%= f.hidden_field :user_id, value: @user_id%>
<%= f.submit %>
<% end %>
<br>


<%= link_to 'Back', posts_path %>
