<p><strong>User: </strong>
	<%= @comment.user.first_name %> <%= @comment.user.last_name %></p>
<p><strong>Comment: </strong>
	<%= @comment.content %></p>


<%= link_to 'Back', posts_path %>
<%= link_to 'Edit', edit_comment_path(@comment.id) %>
<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>