<%= form_for @group do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_area :name %>
	</p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	<p>
		<%= f.submit %>
	</p>
<% end %>